.container {
  margin: 20px auto;
  width: 80%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

th:hover {
  cursor: pointer;
}

button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
  cursor: pointer;
}

.loading {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}
.react-autosuggest__suggestions-container {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  width: 100%;
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
}

.react-autosuggest__suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.react-autosuggest__suggestion {
  padding: 10px;
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #f2f2f2;
}
.location {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .location {
    margin-top: 10px; /* Add margin to the top */
  }
}
@media screen and (max-width: 540px) {
  .location {
    margin-top: 10px; /* Add margin to the top */
  }
}
